extends layout

block content
  h1= title

  div documents

  - each document in result.document_collection.entries
    div
      span
        a(href='/files/#{document.name}') /files/#{document.name}
      span
        a(href='/pdf/#{document.id}')
          i.fa.fa-lg.fa-file-pdf-o
      span
        a(href='/zip/#{document.id}')
          i.fa.fa-lg.fa-file-zip-o
      span status:#{document.status}
      span id:#{document.id}

  include include/logout
