extends layout

block content
  h1= title
  div
    - each path in result.path_collection.entries
      div
        a(href='/folders/#{path.id}') #{path.name}
  div #{result.name}
  div
    a(href='/download/#{result.id}') download
