extends layout

block content
  h1= title

  include include/searchform

  include include/path

  div
    i.fa.fa-lg.fa-folder-open-o
    span #{result.name}

  - each entry in result.item_collection.entries
     div
       - if (entry.type === 'folder')
         i.fa.fa-lg.fa-folder-o
         a(href='/folders/#{entry.id}') #{entry.name}
       - else
         i.fa.fa-lg.fa-file-o
         a(href='/files/#{entry.id}') #{entry.name}

  include include/logout
