extends layout

block content
  h1= title

  include include/searchform

  div
    span Hits:
    span #{result.hits.total}

  - each item in result.hits.hits
    div
      i.fa.fa-lg.fa-file-o
      span.documents score:#{item._score}
      span.documents
        a(href='/view/document/#{item._source.id}') #{item._source.id}

  include include/logout
