extends layout

block content
  h1= title

  include include/searchform

  div
    i.fa.fa-lg.fa-folder-o
    a(href='/folders/0') すべてのファイル

  div
    span Hits:
    span #{result.hits.total}

  - each item in result.hits.hits
    div
      i.fa.fa-lg.fa-file-o
      span score:#{item._score}
      span.documents
        a(href='/files/#{item._source.id}') #{item._source.name}

  include include/logout
